################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PurchaseHelper/v15/Server/sqlite3/db.lock
/.vs/PurchaseHelper/v15/Server/sqlite3/storage.ide
/.vs/PurchaseHelper/v15/Server/sqlite3/storage.ide-shm
/.vs/PurchaseHelper/v15/Server/sqlite3/storage.ide-wal
/.vs/PurchaseHelper/v15/sqlite3/db.lock
/.vs/PurchaseHelper/v15/sqlite3/storage.ide-shm
/.vs/PurchaseHelper/v15/sqlite3/storage.ide-wal
/Daigou/bin/Debug/Daigou.exe
/Daigou/bin/Debug/Daigou.exe.config
/Daigou/bin/Debug/Daigou.pdb
/Daigou/obj/Debug/Daigou.csproj.CoreCompileInputs.cache
/Daigou/obj/Debug/Daigou.csproj.FileListAbsolute.txt
/Daigou/obj/Debug/Daigou.csproj.GenerateResource.Cache
/Daigou/obj/Debug/Daigou.csprojResolveAssemblyReference.cache
/Daigou/obj/Debug/Daigou.exe
/Daigou/obj/Debug/Daigou.pdb
/Daigou/obj/Debug/Daigou.Properties.Resources.resources
/Daigou/obj/Debug
/DaigouClass/bin/Debug/netstandard2.0
/DaigouClass/obj
/DaigouTest/bin/Debug
/DaigouTest/obj/Debug
/packages
/PurchaseHelper/bin/Debug/PurchaseHelper.dll
/PurchaseHelper/bin/Debug/PurchaseHelper.pdb
/PurchaseHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PurchaseHelper/obj/Debug/PurchaseHelper.csproj.CoreCompileInputs.cache
/PurchaseHelper/obj/Debug/PurchaseHelper.csproj.FileListAbsolute.txt
/PurchaseHelper/obj/Debug/PurchaseHelper.csprojResolveAssemblyReference.cache
/PurchaseHelper/obj/Debug/PurchaseHelper.dll
/PurchaseHelper/obj/Debug/PurchaseHelper.pdb
/PurchaseHelper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PurchaseHelper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PurchaseHelper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Daigou/bin/Debug
